<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chinese Tandem Partner</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <h1>Talk with Lang, the Chinese Tandem Partner!</h1>
    </main>

    <form action="/chat" method="GET">
      <input data-id="topicInput" name="topic" placeholder="Enter a topic to talk about…">
      <input data-id="topicSubmit" type="submit" value="Submit">
    </form>
    <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
    <script>
      const button = document.querySelector("[data-id=topicSubmit]");
      button.disabled = true;
      document.querySelector("[data-id=topicInput]").addEventListener("input", (e) => {
        button.disabled = !e.target.value || e.target.value.length == 0;
      })
    </script>
  </body>
  </html>
  