<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chinese Tandem Partner</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <h1>Talk with Lang, the Chinese Tandem Partner!</h1>
    </main>
    <div hx-target="this" hx-swap="outerHTML">
      <form hx-post="/topic">
        Topic: <input name="topic" placeholder="Enter a topic to talk about…">
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="chat-history">
      
    </div>
    <div class="input">
      <input placeholder="Enter a message…">
      <button id="submit" hx-post="/message">Send</button>
    </div>
    <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
  </body>
  </html>
  