* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html, body, .content {
    height: 100%;
    font-family: sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

.content > *:not(#chatHistory) {
    flex-shrink: 0;
}

.header,.topic {
    margin: 1em;
}

#chatHistory {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 25px;
}

#chatHistory .chat-message {
    align-self: flex-end;
}

.input-form {
    margin: 1em;
    display: flex;
    flex-direction: row;
}
.input-form input[type="text"] {
    flex-grow: 1;
    margin-right: 0.5em;
}

.chat-item-name,.chat-item-time {
    color: grey;
}